.icon {
  width: 20px;
  height: 20px;

  display: inline-block;

  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;

  background-color: #D0D6DC;

  &.icon-dashboard {
    mask-image: url("/assets/icons/dashboard.svg");
    -webkit-mask-image: url("/assets/icons/dashboard.svg");
  }

  &.icon-users {
    mask-image: url("/assets/icons/users.svg");
    -webkit-mask-image: url("/assets/icons/users.svg");
  }

}

.dashboard-layout {
  background-color: #F3F5F9;
  width: 100%;
  height: 100vh;

  .dashboard-layout-left {
    background-color: #Ffffff;
    height: 100%;
    overflow-y: auto;
    padding: 25px 19px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    img {
      height: 28.105430603027344px;
      width: 24px;
    }

    .nav {
      .nav-item {
        .nav-link {
          width: 42px;
          height: 42px;
          border-radius: 4px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 11px;
          transition: all 0.3s linear;

          &.active {
            background: #0977ED;
          }
        }

        &:first-child {
          margin-top: 20px;

          .nav-link {
            margin-top: 0;
          }
        }
      }
    }

    .user-image {
      width: 36px;
      height: 36px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .dashboard-layout-right {
    width: 100%;
    overflow-y: auto;
  }
}

.user-image{
  width: 150px;
}


